.container {
    width: 100%;
    overflow: hidden;

    >.scrollingText {
        white-space: nowrap;
        animation: scroll 30s linear infinite;
        color: #dee2e6;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
    }
}



@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}